{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/about.jpg' %}" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">An Artist from Latvia</span>
                                <span class="section-heading-lower">About Sailor Shushu</span>
                            </h2>
                            <p> Hi Everyone, </p>
                            <p class="mb-0">
                               My name is <em>Anastacia</em>. I am a small self-taught artist from Latvia. 
                               My work is inspired by baltic and slavic folklore and biodiversity. Throiuh my art and illustrations I am focused on creating bold statements and showcasing my heritage, region and orthodox religion.
                               Please follow my instagram and twitter. 
                               This website is created by me for my community. Hope you will enjoy spending time online with me.
                                
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

 {% endblock content %}