<title>Commission Confirmation</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<section class="page-section cta">
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Online Booking for a Commission</span>

            <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
                <form method="POST" action="{% url 'bookingSubmit' %}" class="me-2 ms-2" required>
                    {% csrf_token %}

                    <!--input time-->
                    <span class="section-heading-upper">Your commission request has been successfully submitted.</span>
                    <span class="section-heading-lower">Please click continue.</span>
                    <button type="submit" class="btn btn-secondary">Continue</button>

                </form>
            </div>

            {% else %}

            <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
                <h1 class="p-2  me-3">First Sign in!</h1>
                <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
            </div>

            {% endif %}
        </h2>
    </div>
</section>
{% endblock %}