{% extends "base.html" %}
{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">To Contact me</span>
                        <span class="section-heading-lower">Please fill in the form below:</span>
                    </h2>
                    <form action="/contact/" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="list-unstyled list-hours mb-5 text-center mx-auto " >
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Submit">
                     </form>
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock content %}
