{% extends "base.html" %}
{% load static %}
{% block content %}
    
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3"> Sailor Shushu</span>
                <span class="site-heading-lower">Art Journey</span>
            </h1>
        </header>
        <!-- Navigation-->
 
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/intro.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">First Coffee</span>
                            <span class="section-heading-lower">And then the world</span>
                        </h2>
                        <p class="mb-3">I drink coffee daily and if you like my art and would like to support me, please consider donating to my ko-fi page. The link you can find <a href="https://ko-fi.com/R6R0A7Z4">here.</a></p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Thank you for your support!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">My Promise</span>
                                <span class="section-heading-lower">To You</span>
                            </h2>
                            <p class="mb-0">Every Week I post new art on my blog, please feel free to come over and discuss it with me. Soon prints will be available for sale. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    

{%endblock%}