{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Come On In</span>
                        <span class="section-heading-lower">I am online at:</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ms-auto">Offline</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ms-auto">9:00 AM to 10:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ms-auto">10:00 AM to 11:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ms-auto">10:00 AM to 11:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ms-auto">10:00 AM to 11:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ms-auto">Offline</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ms-auto">Offline</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Let's chat!</strong>
                            <br />
                            
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Send me a comment and I will try to reply real time</em></small>
                        <br />
                        Juring my online hours.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/about.jpg' %}" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Strong Coffee, Strong Art</span>
                            <span class="section-heading-lower">About my webpage</span>
                        </h2>
                        <p>Founded in 2016 by the Anastasija Slavinska, SailorShushu art community reached 50k subscribers and found lots of likeminded people.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in
                            <em>love</em>
                            with our art the moment you find my page. This art community page gives me apportunity to speak to my subscribers directly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/scripts.js' %}"></script> 
 {% endblock content %}
