{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Permanently Delete the Post:</span>
                    </h2>
                    <div class="row mt-5">
                        <div class="col-md-3 col-sm-6">
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-light">Back to Feed</a>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-5 col-sm-12">
                            <h5>Are You Sure?</h5>
                            <p>You are about to delete this post, this cannot be undone.</p>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">

</div>
{% endblock content %}