<title>Post Details</title>

{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<section class="page-section cta">
    <div class="masthead">
        <div class="container col-xl-9 mx-auto">
            <div class="row g-0">

                <h2 class="section-heading mb-4">
                    <!-- Post title goes in these h1 tags -->
                    <span class="section-heading-upper">{{ post.author }} | {{ post.created_on }}</span>
                    <!-- Post author goes before the | the pt's created date goes after -->
                    <span class="section-heading-lower">{{ post.title }}</span>
                    <p>
                        {% if request.user == post.author %}
                        <a href="{% url 'postedit' post.slug %}" style="color: #333;"><i class="far fa-edit"></i></a>
                        <a href="{% url 'postdelete' post.slug %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </p>
                    <p>{{ post.body }}</p>
                </h2>
                <div class="image-container">
                    <!-- The featured image URL goes in the src at tribute -->
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                    {% else %}
                    <img src=" {{ post.featured_image.url }}" width="100%">
                    {% endif %}

                </div>

            </div>
        </div>

    </div>
</section>
<div class="container mx-auto">
    <div class="row">
        <div class="col card mb-6  mt-4 left mx-auto">
            <h5 class="text-faded">

                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1 mx-auto ">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>

            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card mb-4  mt-3 mx-auto ">
            <h3 class="text-faded">Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    <div class="col-xl-9 col-lg-10 mx-auto"> {{ comment.body | linebreaks }}</div>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 card mb-4 mt-3 mx-auto">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% endif%}

                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form class="comment_form" method="post" style="margin-top: 3em;" size="20%">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>


</div>

{% endblock content %}