<title>Edit Commission</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}



    {% if user.is_authenticated %}
  
    <section class="page-section cta">
        <div class="cta-inner bg-faded text-center rounded">
            <h2 class="section-heading mb-4">

    <span class="section-heading-lower">Edit Commission</span>

    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <form method="post" action="{% url 'userUpdate' id %}" class="me-2 ms-2" required>
            {% csrf_token %}
            <h2 class="section-heading mb-4">
                <!--input service-->
                <div>
                    <h3 class="section-heading-lower">Select Media:</h3>
                    <select class="form-select fs-3" name="service">
                        <option value="Digital">Digital</option>
                        <option value="Water Colour">Water Colour</option>
                        <option value="Mix Media">Mix Media</option>
                        <option value="Indicidual Request">Individual Request</option>
                    </select>
                </div>
            </h2>
            <h2 class="section-heading mb-4">
                <div>
                    <h3 class="section-heading-lower">Select Style:</h3>
                    <select class="form-select fs-3" name="style">
                        <option value="Anime">Anime</option>
                        <option value="Traditional">Traditional</option>
                        <option value="Pop Art">Pop Art</option>
                        <option value="Disney">Disney</option>
                    </select>
                    </select>
                </div>
            </h2>
            <h2 class="section-heading mb-4">
                <!--input day-->
                <div>
                    <h3 class="section-heading-lower">Select Day:</h3>
                    <select class="form-select fs-3" name="day">
                        {% for validateWeekday in validateWeekdays %}
                        <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                        {% endfor %}
                    </select>
                </div>
            </h2>
            <br />
            <button type="submit" class="btn btn-primary text-white">Continue</button>
    </div>
    </form>
    </div>




    {% else %}

    <section class="page-section cta">
        <div class="container">
            <h2 class="section-heading mb-4">
                <div class="cta-inner bg-faded text-center rounded">
                    <div class="col-xl-9 col-lg-10 mx-auto">
    
                        <span class="section-heading-lower">You Are Not Signed in!</span>
                        <span class="section-heading-upper">Please Sign in below to see the field.</span>
                        <br>
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign in</a>
    
                    </div>
                </div>
            </h2>
    
        </div>
    </section>
    {% endif %}
    

</section>
{% endblock %}