<title>Update Commission submit</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}



<section class="page-section cta">
    {% if user.is_authenticated %}
    <h1 class="m-0 text-center text-white">Edit Appointment</h1>

    <div class="container">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <form method="post" action="{% url 'userUpdateSubmit' id %}" class="me-2 ms-2" required>
                {% csrf_token %}

                <h1 class="text-center mt-3">CLICK CONTINUE TO CONFIRM YOUR CHANGES</h1>

                <button type="submit" class="btn btn-secondary">CONTINUE</button>

            </form>
        </div>
    </div>

    {% else %}

    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
        <h1 class="p-2  me-3">First Sign in!</h1>
        <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
    </div>

    {% endif %}
</section>

{% endblock %}s