<title>Update Commission submit</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

    <section class="page-section cta">
        <div class="container">
            <h2 class="section-heading mb-4">
                <div class="cta-inner bg-faded text-center rounded">
                    <div class="col-xl-9 col-lg-10 mx-auto">
    
                        <span class="section-heading-lower">You have successfully edditted your Commission</span>

                        <form method="post" action="{% url 'userUpdateSubmit' id %}" class="me-2 ms-2" required>
                            {% csrf_token %}
            
                            <span class="section-heading-upper">CLICK CONTINUE TO CONFIRM YOUR CHANGES</span>
                            <br>
                            <button type="submit" class="btn btn-secondary">CONTINUE</button>
            
                        </form>
                    </div>
                </div>
            </h2>
    
        </div>
    </section>

    {% else %}

    <section class="page-section cta">
        <div class="container">
            <h2 class="section-heading mb-4">
                <div class="cta-inner bg-faded text-center rounded">
                    <div class="col-xl-9 col-lg-10 mx-auto">
    
                        <span class="section-heading-lower">You Are Not Signed in!</span>
                        <span class="section-heading-upper">Please Sign in below to see the field.</span>
                        <br>
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign in</a>
    
                    </div>
                </div>
            </h2>
    
        </div>
    </section> 

    {% endif %}
</section>

{% endblock %}s